.video {
    background: #fff;
    height: 1000px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 100px;

    & .title {
        font-family: Montserrat;
        font-size: 50px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 10px;
        text-align: left;
        color: #111;
        text-transform: uppercase;
        margin: 70px 0 40px 0;
    }

    & .description {
        font-family: Montserrat;
        font-size: 20px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: center;
        color: #111;
        width: 600px;
        margin: 0 0 40px 0;
    }

    & .see-more {
        border: solid 3px #020001;
        background-color: var(--white);
        font-family: Montserrat;
        font-size: 23px;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.09;
        padding: 5px 15px;
        letter-spacing: normal;
        text-align: left;
        color: #222;
        text-transform: uppercase;
        margin: 0 0 40px 0;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            background: #ccc;
        }
    }

    & .video-object-05 {
        position: absolute;
        top: 0;
        left: 10%;
        width: 100px;
    }

    & .video-object-04 {
        position: absolute;
        left: -15%;
        top: 20%;
        width: 300px;
    }

    & .video-object-03 {
        position: absolute;
        left: 14%;
        bottom: 5%;
        width: 100px;
        z-index: 1;
    }
    & .video-object-01 {
        position: absolute;
        left: 20%;
        bottom: 0;
        width: 200px;
        z-index: 2;
    }
    & .video-object-07 {
        position: absolute;
        right: 5%;
        top: 10%;
        width: 100px;
        z-index: 1;
    }
    & .video-object-06 {
        position: absolute;
        right: 10%;
        top: 17%;
        width: 70px;
        z-index: 1;
    }
    & .video-object-09 {
        position: absolute;
        right: -7%;
        top: 50%;
        width: 200px;
        z-index: 1;
    }
    & .video-object-08 {
        position: absolute;
        right: -5%;
        top: 65%;
        width: 350px;
        z-index: 1;
    }

    & .videobg {
        width: 800px;
        z-index: 2;
    }
}

@media screen and(max-width:767px) {
    .video {
        margin-bottom: 0;
        .title {
            text-align: center;
            font-size: 40px;
        }

        & .see-more {
            z-index: 2;
            background: #fff;
        }

        & .description {
            width: 95%;
            z-index: 2;
        }

        & .videobg {
            width: 100%;
        }

        & .video-object-01 {
            left: 20%;
            bottom: 10%;
        }
        & .video-object-04 {
            opacity: 0.5;
            left: -20%;
            top: 40%;
        }

        & .video-object-05 {
            width: 70px;
        }

        & .video-object-07 {
            top: 2px;
            right: -12%;
            opacity: 0.5;
        }

        & .video-object-06 {
            right: -15%;
            top: 6%;
            opacity: 0.5;
        }

        & .video-object-08 {
            top: 60%;
            width: 150px;
            opacity: 0.5;
        }

        & .video-object-03 {
            bottom: 25%;
            width: 75px;
        }

        & .video-object-09 {
            display: none;
        }
    }
}
